/* Page Layout */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0e7ff;
  overflow-y: hidden; 
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 50px; 
  height: 100%; 
  overflow: hidden; 
} */

.create-event-form {
  max-width: 500px;
  width: 100%;
  height: 70vh; /* Limit the form height to 60% of the viewport height */
  margin: 40px auto;
  padding: 40px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling within the form */
  background-color: rgba(68, 0, 77, 0.7); /* Semi-transparent background */

}

.create-event-form h2 {
  font-size: 1.8rem; /* Slightly larger heading */
  color: #dddde4;
  text-align: center;
  margin-bottom: 30px;
}

.create-event-form input {
  width: 100%;
  padding: 12px; /* Increase padding for better input sizing */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.create-event-form button {
  width: 100%;
  padding: 12px;
  background-color: #c63ee4; /* More prominent button color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-event-form button:hover {
  background-color: #dd7eea;
}

.create-event-form h3 {
  font-size: 1.4rem;
  color: #e4d6e7;
  margin-bottom: 10px;
  text-align: center;
}

.create-event-form div {
  margin-bottom: 15px;
}

/* Style for the Create Event button */
.create-event-form button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #c63ee4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px; /* Add margin to create space between buttons */
}

.create-event-form button[type="submit"]:hover {
  background-color: #dd7eea;
}
