.event-list-container {
  padding: 20px;
  max-height: 100vh;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.event-list-container h1{
  text-align: center;
  color: #2F314B;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
}

.event-table th,
.event-table td {
  padding: 15px;
  text-align: left;
  border: 1px solid #223D6C; /* Dark Blue border */
}

.event-table th {
  background-color: #E97451; /* Coral for table header */
  color: #fff;
  font-size: 1.1rem;
}

.event-table td {
  background-color: #FDF5E6; /* Light Cream for table rows */
  color: #223D6C; /* Dark Blue text color */
}

.event-table td .roles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.event-table td .see-more {
  padding: 8px 16px;
  background-color: #D3D3D3; /* Light color by default */
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: not-allowed; /* Disabled cursor */
  transition: background-color 0.3s;
}

.event-table td .see-more.active {
  background-color: #2F314B; /* Purple color for active button */
  cursor: pointer;
}

.event-table td .see-more.active:hover {
  background-color: #88B0A2; /* Mint Green hover effect */
}

.event-table td .see-more.inactive:hover {
  background-color: #D3D3D3; /* No change on hover when inactive */
}

/* Error and Loading Styles */
.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #223D6C;
}

.error {
  text-align: center;
  font-size: 1.2rem;
  color: red;
}

/* Button for back to home */
.back-to-home {
  background-color: #2F314B !important; /* Purple for the back-to-home button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.back-to-home:hover {
  background-color: #9fd7c4; /* Mint Green hover */
  color: #E97451;
}
