/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
  
  } */

  .register-container {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #f4e3f0;
    border-radius: 8px;
    text-align: center;
  }
  .register-container h2{
    color: #e831b7;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 300px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }